body {
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}

h1 {
    text-align: center;
}

.sortFilter {
    display: flex;
    flex-direction: row;
    background-color: rgb(197, 194, 194);
    padding: 1% 2%;
    width:100%;
    align-items: center;
}

.todo-filter, .todo-sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0% 2%;
}

.todo-list {
    background-color: rgb(224, 223, 223);
    display: flex;
    flex-direction: column;
    height: 60vh;
    overflow-y: scroll;
}

.task {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task p {
    margin: 1% 1%;
}

.createTask {
    background-color: rgb(197, 194, 194);
    text-align: center;
    width: 70%;
}

.createTask input[name="todoTxt"] {
    width: 50%;
}

.createTask input[name="importanceNumber"] {
    width: 10%;
}

.todo-stat {
margin: 1% 4%;
}

.done {
    text-decoration: line-through;
}


/* body {
    background-color: lightseagreen;
}

.todo-filter {
    background-color: aquamarine;
    padding: 5px;
}
.todo-stat {
    background-color: lightslategray;
    padding: 5px;
    margin: 5px;
}

.todo-stat span {
    color: lightgreen;
    font-weight: bold;
}

.done {
    text-decoration: line-through;
} */
